
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: $lightergrey;
  padding: 30px;
  margin-top: 100px;
}

.wrapper-darkgrey {
  background: $darkgrey;
}

.wrapper-icons {
  margin-top: 100px;
}

.wrapper-newsletter {
  margin-top: 100px;
  margin-bottom: 100px;
}
