
<div id="footer">
  <!-- Your footer code goes here -->
  <div class="wrapper-darkgrey">
    <ul class="list-inline">
      <% ["youtube", "facebook", "twitter", "github"].each do |social| %>
      <li>
      <a href="#"><i class="fa fa-<%= social %>"></i></a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
